In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import string
data = pd.read_csv('US_Crime_Data.csv')
data.sample(10)

,Date,Title,Organization,City,State,URL,Keyword,Summary
3368,7/14/17 15:10,Public contempt is the best deterrent against ...,Washington Post,Washington,DC,https://www.washingtonpost.com/opinions/public...,bullies cloak contempt contemptible deterrent ...,Regarding the July 12 Metro article “Hate-base...
3594,8/8/17 3:52,Witnesses say gunman killed man who protested ...,Newburgh Gazette,NaN,NaN,http://newburghgazette.com/2017/08/08/witnesse...,abc25 beach beers brenda cruz florida gay hern...,"When they were about to leave, Mena allegedly ..."
1488,5/16/17 10:11,Jeff Sessions Speaks Out Against Trans Hate Cr...,outfrontmagazine.com,Boulder,CO,https://www.outfrontmagazine.com/news/jeff-ses...,NaN,NaN
5952,11/6/17 8:41,Netflix subscribers target of 'relatively well...,KSDK,St. Louis,MO,http://www.ksdk.com/article/news/nation-now/ne...,australia card emails information mailguard ne...,An email scam targeting Netflix users aims to ...
2109,5/31/17 12:52,LeBron James' LA Home Vandalized,EBONY.com,New York,New York,http://www.ebony.com/news-views/home-lebron-ja...,9440 cavaliers cleveland espn gate home james ...,NaN
672,3/27/17 11:49,Racist Murderer Wishes Elderly Black Man He Ki...,Carbonated.tv,San Ramon,CA,http://www.carbonated.tv/news/racist-murderer-...,black caughman city daily elderly harris islan...,White supremacist James Harris Jackson reveale...
4750,9/17/17 16:21,North Dakota grapples with whether to adopt ha...,St. Cloud Times,St-Cloud,MN,http://www.sctimes.com/story/news/local/minnes...,abdullahi adl attorney burdick crimes fargo ha...,"FARGO, ND - It was one of the uglier incidents..."
899,4/11/17 11:00,"EXCLUSIVE: Teens spout homophobic slurs, hit m...",New York Daily News,New York,NY,http://www.nydailynews.com/new-york/nyc-crime/...,aggravated assault bedford brick brooklyn cops...,BY Rocco Parascandola Thomas Tracy\tCops charg...
906,4/11/17 13:42,Go back to your country': Woman chased by man ...,KOMO News,Seattle,WA,http://komonews.com/news/local/go-back-to-your...,auburn chased house knife licton mexico roller...,"by Lynsi Burton, seattlepi.com staff\tAUBURN, ..."
4642,9/11/17 17:22,The Daily TIP: Report: Top UK Officials Believ...,The Israel Project,Washington,D.C.,http://www.theisraelproject.org/the_daily_tip_...,aid davindenkoff force foreign iran jewish jew...,Senior officials in the United Kingdom's Forei...

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6783 entries, 0 to 6782
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          6783 non-null   object
 1   Title         6782 non-null   object
 2   Organization  6783 non-null   object
 3   City          5616 non-null   object
 4   State         5538 non-null   object
 5   URL           6783 non-null   object
 6   Keyword       5607 non-null   object
 7   Summary       4527 non-null   object
dtypes: object(8)
memory usage: 424.1+ KB

In [3]:
data.isna()

       Date  Title  Organization   City  State    URL  Keyword  Summary
0     False  False         False  False  False  False     True     True
1     False  False         False   True   True  False     True     True
2     False  False         False  False  False  False     True     True
3     False  False         False  False  False  False     True     True
4     False  False         False  False  False  False     True     True
...     ...    ...           ...    ...    ...    ...      ...      ...
6778  False  False         False  False  False  False     True     True
6779  False  False         False   True   True  False    False    False
6780  False  False         False  False  False  False    False    False
6781  False  False         False  False  False  False    False    False
6782  False  False         False   True   True  False    False     True

[6783 rows x 8 columns]

In [4]:
data.isna().sum()

Date               0
Title              1
Organization       0
City            1167
State           1245
URL                0
Keyword         1176
Summary         2256
dtype: int64

In [5]:
df = data[['Title']]
df = df.dropna().reset_index(drop = True)
df.head()

                                               Title
0  Pizza Hut driver who killed co-worker with sho...
1  Residents of NJ township receiving KKK promoti...
2  House OKs bill to expand Kentucky's hate crime...
3  Amid Protests, 'Blue Lives Matter' Bill Passes...
4  Lafourche inmates charged with hate crimes in ...

In [6]:
df.shape

(6782, 1)

In [7]:
def clean_text(df):
    df['Title'] = df['Title'].apply(lambda x : x.lower())
    tokens = df['Title'].str.replace('[{}]'.format(string.punctuation), '')
    return tokens

In [9]:
tokens = clean_text(df)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_19288\363633391.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  tokens = df['Title'].str.replace('[{}]'.format(string.punctuation), '')

In [10]:
tokens

0       pizza hut driver who killed coworker with shot...
1       residents of nj township receiving kkk promoti...
2       house oks bill to expand kentuckys hate crimes...
3       amid protests blue lives matter bill passes ke...
4       lafourche inmates charged with hate crimes in ...
                              ...
6777    police rash of vandalism on margate menorahs i...
6778    exstudent accused of smearing used tampon on r...
6779    queensbury woman charged with hate crime again...
6780    hate crime hartford student accused of smearin...
6781    police make arrest following alleged hate crim...
Name: Title, Length: 6782, dtype: object

In [11]:
len(set(tokens))

6563

In [12]:
tokenizer = tf.keras.preprocessing.text.Tokenizer()
tokenizer.fit_on_texts(tokens)
seq = tokenizer.texts_to_sequences(tokens)

In [13]:
seq[:10]

[[3973, 3974, 450, 47, 88, 3975, 12, 2211, 103, 1370, 2803],
 [830, 4, 423, 1558, 2212, 470, 3976, 672],
 [257, 1846, 75, 5, 593, 3977, 1, 6, 36],
 [721, 898, 480, 274, 301, 75, 481, 634, 257],
 [3978, 2804, 16, 12, 1, 6, 3, 424, 19],
 [13, 722, 1, 2, 48, 594, 3979, 5, 401],
 [3980, 480, 274, 301, 75, 21, 1371, 2805, 5, 214, 3981, 173],
 [194, 320, 18, 402, 2806, 239, 15, 98, 38],
 [194,
  320,
  18,
  402,
  2806,
  239,
  15,
  98,
  38,
  635,
  174,
  556,
  557,
  14,
  498,
  558,
  275,
  42],
 [33, 174, 673, 302, 2, 1372, 2807, 3, 2213]]

In [14]:
x = []
y = []
total_words_drop = 0
for i in seq:
    if len(i) > 1:
        for j in range(1, len(i)):
            x.append(i[:j])
            y.append(i[j])
            
    else : 
        total_words_drop +=1
print('Total Words Dropped : {}'.format(total_words_drop))

Total Words Dropped : 12

In [15]:
x = tf.keras.preprocessing.sequence.pad_sequences(x)

In [16]:
x.shape

(64701, 49)

In [17]:
y = tf.keras.utils.to_categorical(y)

In [18]:
y.shape

(64701, 7569)

In [19]:
vocab_size = len(tokenizer.word_index) + 1
vocab_size

7569